# Main generated TS script
App/js/app.js

# Debug files
JS_SAMPLE.js

# Build dirs
tempApp/
Cache/
Build/
cache/
build/

# General folders and formats
package-lock.json
node_modules/
version.txt
*.bat
*.map
*.sh